{% extends "layout.html" %}

{% block nav %}
<a href="{{  url_for('admin')  }}">Admin</a>
<a href="{{  url_for('adminMembers')  }}">Taglista</a>
<a href="{{  url_for('adminItems')  }}">Tárgylista</a>
<a href="{{  url_for('adminBorrows')  }}">Kölcsönzések</a>
<a href="{{  url_for('upload')  }}">Feltöltés</a>
{% endblock %}

{% block col2 %}

<table>
    <tr>
        <th>ID</th>
        <th>Tag</th>
        <th>Tárgy</th>
        <th>Kölcsönzés kezdete</th>
        <th>Kölcsönzés t. vége</th>
        <th>Visszavételezés dátuma</th>
        <th>Parancsok</th>
    </tr>
{% for row in borrows %}
    <tr>
        <td>{{  row["id"]  }}</td>
        <td>{{  row["member_name"]  }}</td>
        <td>{{  row["item_name"]  }}</td>
        <td>{{  row["start_date"]  }}</td>
        <td>{{  row["plan_date"]  }}</td>
        <td>{{  row["end_date"]  }}</td>
        <td>
            <form action="/admin/handler" method="post">
                <input type="hidden" name="borrowID" value="{{  row['id']  }}">
                <input type="hidden" name="mode" value="borrows">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>


{% endfor %}
</table>

{% endblock %}