{% extends "layout.html" %}

{% block nav %}
<a href="{{  url_for('admin')  }}">Admin</a>
<a href="{{  url_for('adminMembers')  }}">Taglista</a>
<a href="{{  url_for('adminItems')  }}">Tárgylista</a>
<a href="{{  url_for('adminBorrows')  }}">Kölcsönzések</a>
<a href="{{  url_for('upload')  }}">Feltöltés</a>
{% endblock %}

{% block col2 %}

<table>
    <tr>
        <th>ID</th>
        <th>Név</th>
        <th>Kategória</th>
        <th>Leírás</th>
        <th>Kölcsönözhető?</th>
        <th>Parancsok</th>
    </tr>
{% for row in items %}
    <tr>
        <td>{{  row["id"]  }}</td>
        <td>{{  row["item_name"]  }}</td>
        <td>{{  row["category"]  }}</td>
        <td>{{  row["description"]  }}</td>
        <td>{{  row["can_be_borrowed"]  }}</td>
        <td>
            <form action="/admin/handler" method="post">
                <input type="hidden" name="itemID" value="{{  row['id']  }}">
                <input type="hidden" name="mode" value="items">
                <button type="submit" formaction="/admin/toggle">Toggle</button>
                <button type="submit" formaction="/admin/editor">Szerkesztés</button>
                <button type="submit">Törlés</button>
            </form>
        </td>
    </tr>


{% endfor %}
    <tr>
        <form action="/admin/insert" method="post">
            <td>Manuális bevitel: </td>
            <td> <input type="text" name="newName"> </td>
            <td> <input type="text" name="newCategory"> </td>
            <td> <input type="text" name="newDescription"></td>
            <td></td>
            <input type="hidden" name="mode" value="itemInsert">
            <td> <button type="submit">Submit</button> </td>
        </form>
    </tr>
</table>

{% endblock %}